GRAFANA_ADMIN_PASSWORD=change-me
POSTGRES_EXPORTER_PASSWORD=copy-postgres-password-secret-on-server
VALKEY_EXPORTER_PASSWORD=copy-valkey-password-secret-on-server
RABBITMQ_EXPORTER_PASSWORD=copy-rabbitmq-password-secret-on-server
